*{
    margin:0px;
    text-decoration: none;
    color:rgb(240,240,240);
}
body{
    background:linear-gradient(
            to right,
            rgb(40,40,40),rgb(20,20,20)
    );
}
img.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
p{
    color:rgb(240,240,240);
}
p.introText{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
h1{
    color:rgb(240,240,240);
}
h1.title{
    text-align:center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
}
h3{
    color:rgb(240,240,240);
    display: inline-block
}
div.indexMenu{
    width: 220px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    height: fit-content;
    background: linear-gradient(to right,rgb(90,90,90),rgb(70,70,70));
    border-radius: 16px;
    padding: 10px;
}
h2.menuTitle{
    color:rgb(240,240,240);
    display: inline-block
}
div.linkContainer{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
div.topLinks{
    border-radius: 8px;
    background: linear-gradient(to right,rgb(80,80,80),rgb(60,60,60));
    display: inline-block;
    width: fit-content;
    padding: 2px;
    height: fit-content;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}
div.indevLabel{
    border-radius: 8px;
    background: linear-gradient(to right,rgb(240,240,80),rgb(220,220,80));
    display: inline-block;
    width: fit-content;
    padding: 2px;
    height: fit-content;
    color: black;
    box-shadow: 0px 0px 3px 0px yellow;
    font-size: 14px;
}
div.betaLabel{
    border-radius: 8px;
    background: linear-gradient(to right,rgb(240,40,40),rgb(220,40,40));
    display: inline-block;
    width: fit-content;
    padding: 2px;
    height: fit-content;
    box-shadow: 0px 0px 3px 0px red;
    font-size: 14px;
}
p.label{
    margin-left: 5px;
    font-family: 'Oxygen', sans-serif;
    margin-right: 5px;
}
div.halfList{
    padding: 0px;
    min-width: 250px;
    margin-top: 30px;
}
div.everything{
    width: fit-content;
    height: fit-content;
    margin: auto;
    vertical-align: middle;
}
div.mainList{
    height:fit-content;
    max-width: 500px;
    min-width: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
div.logBackground{
    margin-top: 10px;
    width: 90%;
    height: 10%;
    border-radius: 16px;
    background: linear-gradient(to right,rgb(70,70,70),rgb(50,50,50));
    color: white;
    padding: 10px;
    box-shadow: rgb(0,0,0) 0px 0px 5px,inset rgba(200,200,200,0.6) -1px 1px 5px;
    transition: all 100ms;
}
div.logBackground:hover{
    width: 90%;
    background: linear-gradient(to right,rgb(60,60,60),rgb(60,60,60));
    box-shadow: rgb(0,0,0) -1px 1px 5px,inset rgba(200,200,200,0.6) -3px 3px 10px;
 }
div.devlogTitle{
    display: flex;
    width: 100%;
}
div.spilt{
    width:100%;
    height:3px;
    background: linear-gradient(to right,rgb(60,60,60),rgb(50,50,50));
    border-radius: 2px;
    margin-top: 3px;
    margin-bottom: 5px;
    box-shadow: rgba(0,0,0,0.3) 1px 1px 2px;
}
div.hoverShadow{
    box-shadow: rgb(60,60,60) 1px 1px 5px,inset rgba(255,255,255,0.5) -3px 3px 15px;
    transition: all 100ms;
}
div.hoverShadow:hover{
    box-shadow: rgb(60,60,60) 3px 3px 10px,inset rgba(255,255,255,0.8) -5px 5px 20px;
}
a{
    color:white;
}
p.motd{
    margin: 20px auto 20px auto;
    text-align: center;
}
img.icon{
    filter: drop-shadow(1px 1px 2px rgba(255,255,255,0.3)) drop-shadow(-1px -1px 2px rgba(255,255,255,0.3));
    height: 50px;
    width: 50px;
    border-radius: 25px;
    gap:16px;
    transition: all 0.1s;
}
img.icon:hover{
    filter: drop-shadow(1px 1px 3px rgba(255,255,255,0.6)) drop-shadow(-1px -1px 3px rgba(255,255,255,0.6));
    height: 55px;
    width: 55px;
}
