*{
    margin:0px;
}
body{
    background:linear-gradient(
            to right,
            rgb(40,40,40),rgb(20,20,20)
    );
}
p{
    color:rgb(240,240,240);
}
p.introtext{
    font-family: 'IBM Plex Mono', monospace;
    text-align:center;
}
h1{
    color:rgb(240,240,240);
    text-align:center;
    font-family: 'Press Start 2P', cursive;
    margin-bottom:30px;
    margin-top:120px;
}
div.indexmenu{
    width: 90%;
    height: fit-content;
    display: inline-block;
    background: linear-gradient(to right,rgb(90,90,90),rgb(70,70,70));
    border-radius: 16px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
}
h2.menutitle{
    color:rgb(240,240,240);
    font-family: 'Oxygen', sans-serif;
    display: inline-block
}
div.betalabel{
    border-radius: 16px;
    background: linear-gradient(to right,rgb(240,0,0),rgb(220,0,0));
    display: inline-block
}
p.betalabel{
    margin-left: 5px;
    font-family: 'Oxygen', sans-serif;
    margin-right: 5px;
}
