div.spilt{
    width:100%;
    height:3px;
    background: linear-gradient(to right,rgb(60,60,60),rgb(50,50,50));
    border-radius: 2px;
    margin-top: 3px;
    margin-bottom: 5px;
    box-shadow: rgba(0,0,0,0.3) 1px 1px 2px;
}
div.invisSpilt{
     width:100%;
     height:20px;
 }
div.everything{
    width: 90%;
    margin: 100px auto auto auto;
    height: fit-content;
    background: linear-gradient(to right,rgb(80,80,80),rgb(70,70,70));
    padding: 0 30px 30px 30px;
    border-radius: 32px;
}
*{
    margin:0px;
}
body{
    background:linear-gradient(
            to right,
            rgb(40,40,40),rgb(20,20,20)
    );
}
img.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
p{
    color:rgb(240,240,240);
    font-family: 'Oxygen', sans-serif;
}
p.introText{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
}
h1{
    color:rgb(240,240,240);
    font-family: 'Oxygen', sans-serif;
    display: inline-block
}
h1.title{
    text-align:center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
}
h3{
    color:rgb(240,240,240);
    font-family: 'Oxygen', sans-serif;
    display: inline-block
}
h2{
    color:rgb(240,240,240);
    font-family: 'Oxygen', sans-serif;
    display: inline-block
}
a{
    color:rgb(240,240,240);
    font-family: 'Oxygen', sans-serif;
    display: inline-block;
}
a.introText{
    font-size: 15px;
}
img.center{
    margin-left: auto;
    margin-right: auto;
}
ul{
    color:white;
}
li{
    color: white;
}